@font-face {
  font-family: 'bold';
  src: url('./assets/fonts/bold.ttf');
}

@font-face {
  font-family: 'normal';
  src: url('./assets/fonts/light.ttf');
}


:root {
  --gray: #20272f;
  --black: #171c22;
  --green: #2ad883;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  height: auto;
  width: 100%;
  font-family: normal;
  position: relative;
}

button {
  border: none;
  color: var(--black);
  font-family: bold;
  background-color: var(--green);
}

h1 {
  font-size: 1rem;
  margin: 0;
}

.title {
  font-family: bold;
  color: var(--green);
  font-size: 3rem;
}

.title b {
  color: var(--green);
}

/* HEADER CSS */

header {
  height: 80px;
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
}

header img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.dark-mode-navigation-button {
  height: 40px;
  width: auto;
  font-family: bold;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: transparent;
  color: white;
  width: 100px;
}

.hamburgerIcon {
  display: none;
}

.hamburgerIcon:hover {
  transform: scale(110%);
}

.dark-mode-navigation-button:hover {
  width: 100px;
  background-color: rgba(128, 128, 128, 0.100);
  color: white;
}

.light-mode-navigation-button {
  height: 40px;
  width: auto;
  font-family: bold;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: transparent;
  color: var(--black);
  width: 100px;
}

.light-mode-navigation-button:hover {
  width: 100px;
  background-color: rgba(128, 128, 128, 0.100);
  color: var(--black);
}

.navigation-button-active {
  background-color: rgba(128, 128, 128, 0.100);
}

.dark-mode-icon {
  color: white;
}

.light-mode-icon {
  color: var(--black);
}

.dark-mode-icon:hover {
  transform: rotate(120deg);
}

header button:hover {
  width: auto;
  height: 40px;
}

/* HEADER CSS */

.hero-page {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  position: relative;
}


/* ABOUT PAGE CSS */

.about-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ABOUT PAGE CSS */

/* PROJECTS PAGE CSS */

.projects-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-projects-page {
  width: 90%;
  height: 100%;
  padding: 20px;
}

.body-project-page {
  height: 100%;
  width: 100%;
}

.projects-card-list {
  display: flex;
  width: 100%;
  margin-top: 5%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.projects-card {
  width: 550px;
  height: auto;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0,0,0,0.2);
  border-radius: 10px;
  padding: 2%;
  align-items: center;
  justify-content: center;
}

.projects-card-head {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.projects-card-head h3 {
  font-family: bold;
  font-size: 1.5rem;
  margin: 0;
}

.projects-card-head p {
  font-size: 1rem;
  margin: 0;
}

.projects-card-thumbnail {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.projects-card-technology-list {
  margin-top: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.technology-card {
  background-color: #47ccf5;
  width: auto;
  font-size: 1rem;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  gap: 5px;
}

.projects-card-description {
  margin-top: 10px;
}

.projects-card-description p {
  font-size: 1rem;
  margin: 0;
}

.projects-card-description b {
  font-family: bold;
  font-size: 1.3rem;
}

.projects-card-details button {
  background-color: var(--black);
  color: white;
  font-family: bold;
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  height: 50px;
}

.projects-card-details button:hover {
  opacity: 0.5;
}


/* PROJECTS PAGE CSS */







/* SCROLL CSS */

/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--black); /* Color of the scrollbar track */
  border-radius: 4px; /* Rounded corners */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #2ad883; /* Color of the scroll thumb */
  border-radius: 4px;
  border: 2px solid #f1f1f1; /* Adds space between thumb and track */
}

/* Add a hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #1eb473;
}

/* Firefox scrollbar customization */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--green) var(--black);
}

/* SCROLL CSS */


@media (max-width: 1440px) {

  .title {
    font-size: 2rem;
  }

}

@media (max-width: 1024px) {

  .title {
    font-size: 2rem;
  }

}


@media (max-width: 768px) {

  
  .hamburgerIcon {
    display: flex;
    background-color: transparent;
  }

  .dark-mode-navigation-button,
  .light-mode-navigation-button
  {
    display: none;
  }

  .about-page {
    height: 100%;
  }

  
  .content-projects-page {
    margin-top: 5%;
  }

  .projects-card-list {
    flex-direction: column;
  }

  .projects-card {
    padding: 30px;
    width: 80%;
  }

  .projects-card-head {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .technology-card {
    width: 80px;
    font-size: .8rem;
  }

  .projects-card-head h3 {
    font-size: 1.3rem;
  }

  .projects-card-head p {
    font-size: .8rem;
  }

  .projects-card-description b{
    font-size: 1rem;
  }

  .projects-card-description p {
    font-size: .8rem;
  }

}

@media (max-width: 425px) {
  .projects-card {
    width: 100%;
    padding: 15px;
  }

  .content-about-page-head {
    justify-content: center;
  }
}


@keyframes pop {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

