/* nav CSS */

nav {
    height: 80px;
    max-height: 80px;
    min-height: 80px;
    width: 100%;
    backdrop-filter: blur(100px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    position: sticky !important;
    top: 0 !important;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
  }
  
  nav img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .navigation-button {
    height: 40px;
    width: auto;
    font-family: bold;
    border-radius: 5px;
    font-size: 0.9rem;
    background-color: transparent;
    color: white;
    width: 100px;
  }
  
  .hamburgerIcon {
    display: none;
  }
  
  .navigation-button:hover {
    width: 100px;
    background-color: rgba(128, 128, 128, 0.100);
    color: white;
  }
  
  .navigation-button-active {
    background-color: rgba(128, 128, 128, 0.100);
  }
  
  .dark-mode-icon {
    color: white;
  }
  
  .light-mode-icon {
    color: var(--black);
  }
  
  
  nav button:hover {
    width: auto;
    height: 40px;
  }
  
  /* nav CSS */